body {
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 40px;
}

.card {
  background: #0a6da7d5;
  border-radius: 15px;
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

input.form-control {
  border-radius: 8px;
  border: 2px solid #5dade2;
  padding: 12px;
  font-size: 16px;
}

.btn-success {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border: none;
  font-weight: bold;
  border-radius: 8px;
}

.alert {
  border-radius: 10px;
}

h1 {
  font-weight: 700;
  color: #154360;
}

h3 {
  color: #1f618d;
}

.card-body img {
  transition: transform 0.2s;
}
.card-body img:hover {
  transform: scale(1.1);
}
